# About the data

Download Data from this Page: https://www.nyc.gov/site/tlc/about/tlc-trip-record-data.page<br>
Data Dictionary: https://www.nyc.gov/assets/tlc/downloads/pdf/data_dictionary_trip_records_yellow.pdf

# Imports

In [1]:
import os
import urllib

import multiprocessing as mp

import pandas as pd
import polars as pl

In [2]:
# from google.colab import drive
# drive.mount('/content/drive')

# GLOBAL_VARS

In [3]:
CWD = os.getcwd()

In [4]:
PATH_INPUT_FOLDER = os.path.join(CWD, "input")

# Fixing Data Types

In [5]:
def get_file_types(input_folder):

    file_schemas = []

    for file_name in os.listdir(input_folder):

        file_path = os.path.join(input_folder, file_name)

        try:
            pldf_ = pl.read_parquet(file_path)
            schema_ = pldf_.schema

            columns = list(schema_.keys())
            types = list(schema_.values())
            file_names = [file_name for i in range(len(columns))]
            
            for c, t, f in zip(columns, types, file_names):
                file_schemas.append((c, t, f))

        except:
            print(file_path)

    return file_schemas

In [6]:
df = pd.DataFrame(
    data = get_file_types(input_folder=PATH_INPUT_FOLDER),
    columns = ["Col", "Type", "File"]
)

In [7]:
df.head()

,Col,Type,File
0,VendorID,Int32,yellow_tripdata_2023-06.parquet
1,tpep_pickup_datetime,"Datetime(time_unit='ns', time_zone=None)",yellow_tripdata_2023-06.parquet
2,tpep_dropoff_datetime,"Datetime(time_unit='ns', time_zone=None)",yellow_tripdata_2023-06.parquet
3,passenger_count,Int64,yellow_tripdata_2023-06.parquet
4,trip_distance,Float64,yellow_tripdata_2023-06.parquet

In [8]:
(
    df["Col"].value_counts()
)

Col
VendorID                 50
tpep_pickup_datetime     50
congestion_surcharge     50
total_amount             50
improvement_surcharge    50
tolls_amount             50
tip_amount               50
mta_tax                  50
extra                    50
fare_amount              50
payment_type             50
DOLocationID             50
PULocationID             50
store_and_fwd_flag       50
RatecodeID               50
trip_distance            50
passenger_count          50
tpep_dropoff_datetime    50
Airport_fee              25
airport_fee              25
cbd_congestion_fee        2
Name: count, dtype: int64

In [9]:
df["Col"].nunique()

21

In [10]:
(
    df["File"].value_counts()
)

File
yellow_tripdata_2025-02.parquet    20
yellow_tripdata_2025-01.parquet    20
yellow_tripdata_2023-06.parquet    19
yellow_tripdata_2023-12.parquet    19
yellow_tripdata_2023-01.parquet    19
yellow_tripdata_2022-06.parquet    19
yellow_tripdata_2023-10.parquet    19
yellow_tripdata_2024-02.parquet    19
yellow_tripdata_2024-12.parquet    19
yellow_tripdata_2021-03.parquet    19
yellow_tripdata_2023-09.parquet    19
yellow_tripdata_2024-09.parquet    19
yellow_tripdata_2022-04.parquet    19
yellow_tripdata_2021-08.parquet    19
yellow_tripdata_2023-02.parquet    19
yellow_tripdata_2022-07.parquet    19
yellow_tripdata_2021-01.parquet    19
yellow_tripdata_2021-11.parquet    19
yellow_tripdata_2024-10.parquet    19
yellow_tripdata_2021-10.parquet    19
yellow_tripdata_2024-01.parquet    19
yellow_tripdata_2024-11.parquet    19
yellow_tripdata_2024-08.parquet    19
yellow_tripdata_2022-05.parquet    19
yellow_tripdata_2021-09.parquet    19
yellow_tripdata_2023-11.parquet    19
yellow_tripdata_2023-08.parquet    19
yellow_tripdata_2022-10.parquet    19
yellow_tripdata_2024-07.parquet    19
yellow_tripdata_2021-05.parquet    19
yellow_tripdata_2022-09.parquet    19
yellow_tripdata_2024-04.parquet    19
yellow_tripdata_2021-04.parquet    19
yellow_tripdata_2022-08.parquet    19
yellow_tripdata_2024-05.parquet    19
yellow_tripdata_2023-07.parquet    19
yellow_tripdata_2022-01.parquet    19
yellow_tripdata_2022-11.parquet    19
yellow_tripdata_2021-06.parquet    19
yellow_tripdata_2021-12.parquet    19
yellow_tripdata_2023-05.parquet    19
yellow_tripdata_2022-03.parquet    19
yellow_tripdata_2023-04.parquet    19
yellow_tripdata_2022-02.parquet    19
yellow_tripdata_2022-12.parquet    19
yellow_tripdata_2024-06.parquet    19
yellow_tripdata_2021-07.parquet    19
yellow_tripdata_2024-03.parquet    19
yellow_tripdata_2021-02.parquet    19
yellow_tripdata_2023-03.parquet    19
Name: count, dtype: int64

In [11]:
(
    df
    .groupby(["Col"])
    .agg(
        nr_unique_types = ("Type", lambda series: len(set(series))),
        unique_types = ("Type", lambda series: set(series))
    )
    .pipe(
        lambda df: df[df["nr_unique_types"] != 1]
    )
)

,nr_unique_types,unique_types
Col,,
DOLocationID,2,"{Int32, Int64}"
PULocationID,2,"{Int32, Int64}"
RatecodeID,2,"{Float64, Int64}"
VendorID,2,"{Int32, Int64}"
passenger_count,2,"{Float64, Int64}"
tpep_dropoff_datetime,2,"{Datetime(time_unit='ns', time_zone=None), Dat..."
tpep_pickup_datetime,2,"{Datetime(time_unit='ns', time_zone=None), Dat..."

In [12]:
def get_default_rename_dict():
    
    rename_dict = {
        
        "VendorID":"VendorID",
        "tpep_pickup_datetime":"TpepPickupDatetime",
        "congestion_surcharge":"CongestionSurcharge",
        "total_amount":"TotalAmount",
        "improvement_surcharge":"ImprovementSurcharge",
        "tolls_amount":"TollsAmount",
        "tip_amount":"TipAmount",
        "mta_tax":"MtaTax",
        "extra":"Extra",
        "fare_amount":"FareAmount",
        "payment_type":"PaymentType",
        "DOLocationID":"DOLocationID",
        "PULocationID":"PULocationID",
        "store_and_fwd_flag":"StoreAndFwdFlag",
        "RatecodeID":"RatecodeID",
        "trip_distance":"TripDistance",
        "passenger_count":"PassengerCount",
        "tpep_dropoff_datetime":"TpepDropoffDatetime",
        "Airport_fee":"AirportFee"
    }
    
    return rename_dict

In [15]:
def standarize_files(input_folder):
    
    for file_name in os.listdir(input_folder):
        
        if file_name != ".ipynb_checkpoints":

            file_path = os.path.join(input_folder, file_name)

            rename_dict = get_default_rename_dict()
            pldf = pl.read_parquet(file_path)
            columns = pldf.columns

            if "airport_fee" in columns:
                _ = rename_dict.pop("Airport_fee")
                rename_dict["airport_fee"] = "AirportFee"

            pldf = (
                pldf
                .rename(rename_dict)
                .with_columns(
                    pl.col("VendorID").cast(pl.Int64),
                    pl.col("DOLocationID").cast(pl.Int64),
                    pl.col("PULocationID").cast(pl.Int64),
                    pl.col("RatecodeID").cast(pl.Float64),
                    pl.col("PassengerCount").cast(pl.Float64),
                    pl.col("TpepDropoffDatetime").cast(pl.Datetime),
                    pl.col("TpepPickupDatetime").cast(pl.Datetime)
                )
            )

            pldf.write_parquet(file = os.path.join(input_folder, file_name))

In [16]:
standarize_files(input_folder=PATH_INPUT_FOLDER)

# Final Test

In [17]:
plldf = pl.scan_parquet(source = os.path.join(PATH_INPUT_FOLDER, "yellow_*.parquet"))

In [18]:
(
    plldf.describe()
)

shape: (9, 20)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ statistic ┆ VendorID  ┆ TpepPicku ┆ TpepDropo ┆ … ┆ Improveme ┆ TotalAmou ┆ Congestio ┆ AirportF │
│ ---       ┆ ---       ┆ pDatetime ┆ ffDatetim ┆   ┆ ntSurchar ┆ nt        ┆ nSurcharg ┆ ee       │
│ str       ┆ f64       ┆ ---       ┆ e         ┆   ┆ ge        ┆ ---       ┆ e         ┆ ---      │
│           ┆           ┆ str       ┆ ---       ┆   ┆ ---       ┆ f64       ┆ ---       ┆ f64      │
│           ┆           ┆           ┆ str       ┆   ┆ f64       ┆           ┆ f64       ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ count     ┆ 1.5709312 ┆ 157093121 ┆ 157093121 ┆ … ┆ 1.5709312 ┆ 1.5709312 ┆ 1.4749844 ┆ 1.433357 │
│           ┆ 1e8       ┆           ┆           ┆   ┆ 1e8       ┆ 1e8       ┆ 9e8       ┆ 26e8     │
│ null_coun ┆ 0.0       ┆ 0         ┆ 0         ┆ … ┆ 0.0       ┆ 0.0       ┆ 9.594672e ┆ 1.375739 │
│ t         ┆           ┆           ┆           ┆   ┆           ┆           ┆ 6         ┆ 5e7      │
│ mean      ┆ 1.738652  ┆ 2023-03-1 ┆ 2023-03-1 ┆ … ┆ 0.672459  ┆ 24.717212 ┆ 2.2643    ┆ 0.117748 │
│           ┆           ┆ 7 15:37:0 ┆ 7 16:03:0 ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆ 3.319531  ┆ 9.611825  ┆   ┆           ┆           ┆           ┆          │
│ std       ┆ 0.467983  ┆ null      ┆ null      ┆ … ┆ 0.378249  ┆ 128.84096 ┆ 0.797632  ┆ 0.421012 │
│           ┆           ┆           ┆           ┆   ┆           ┆ 7         ┆           ┆          │
│ min       ┆ 1.0       ┆ 2001-01-0 ┆ 1970-01-2 ┆ … ┆ -1.0      ┆ -2567.8   ┆ -2.5      ┆ -1.75    │
│           ┆           ┆ 1         ┆ 0         ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆ 00:03:14  ┆ 10:16:32  ┆   ┆           ┆           ┆           ┆          │
│ 25%       ┆ 1.0       ┆ 2022-03-2 ┆ 2022-03-2 ┆ … ┆ 0.3       ┆ 13.6      ┆ 2.5       ┆ 0.0      │
│           ┆           ┆ 6         ┆ 6         ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆ 08:55:15  ┆ 09:12:29  ┆   ┆           ┆           ┆           ┆          │
│ 50%       ┆ 2.0       ┆ 2023-03-1 ┆ 2023-03-1 ┆ … ┆ 1.0       ┆ 18.48     ┆ 2.5       ┆ 0.0      │
│           ┆           ┆ 8         ┆ 8         ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆ 21:36:03  ┆ 21:51:45  ┆   ┆           ┆           ┆           ┆          │
│ 75%       ┆ 2.0       ┆ 2024-03-2 ┆ 2024-03-2 ┆ … ┆ 1.0       ┆ 27.02     ┆ 2.5       ┆ 0.0      │
│           ┆           ┆ 6         ┆ 6         ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆ 20:50:01  ┆ 21:03:35  ┆   ┆           ┆           ┆           ┆          │
│ max       ┆ 7.0       ┆ 2098-09-1 ┆ 2098-09-1 ┆ … ┆ 2.0       ┆ 863380.37 ┆ 3.0       ┆ 6.75     │
│           ┆           ┆ 1         ┆ 1         ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆ 02:23:31  ┆ 02:52:04  ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘